<h1>Merchants</h1>
<h2><%= @merchant.name %></h2>
<a href="/merchants/<%=@merchant.id%>/edit">Edit</a>
<h2><%= @merchant_total %></h2>


<h3>Transactions</h3>
<table>
  <tr>
    <td>Amount</td>
    <td>Tag</td>
    <td>Timestamp</td>
  </tr>
  <% @merchant_transactions.each do |transaction| %>
  <tr>
    <td><a href="/transactions/<%=transaction.id%>"><%= transaction.amount%></a></td>
    <td><%= transaction.tag.name%></td>
    <td><%= transaction.time_stamp %></td>
  </tr>
  <% end %>
</table>

<form class="" action="/merchants/<%= @merchant.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
