<h1>Tags</h1>
<a href="/tags/new">Create</a>
<table>
  <% @tags.each do |tag| %>
  <tr>
    <td><a href="/tags/<%= tag.id %>"><%= tag.name %></a></td>
    <td><%= tag.total_spent %></td>
    <td><%=tag.budget.amount%></td>
    <td><a href="/tags/<%= tag.id %>/newtrans">Add new transaction from existing merchant</a></td>

  </tr>
  <% end %>
</table>
