<h1><%= @tag.name %>: Spent £<%=sprintf "%.2f", @tag.total_spent %></h1>

<div class="centre">
  <a href="/tags/<%=@tag.id%>/edit" class="click">Edit name</a>
</div>

<form class="centre" action="/tags/<%= @tag.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>



<h2 class= "centre">Transactions</h2>
<table>
  <tr>
    <td>Amount</td>
    <td>Merchant</td>
    <td>Timestamp</td>
  </tr>
  <% @tag_transactions.each do |transaction| %>
  <tr>
    <td class="click"><a href="/transactions/<%=transaction.id%>"><%= sprintf "%.2f", transaction.amount%></a></td>
    <td class="click"><a href="/merchants/<%= transaction.merchant.id %>"><%= transaction.merchant.name%></a></td>
    <td><%= transaction.time_stamp %></td>
  </tr>
  <% end %>
</table>
