<h1>Transactions</h1>

  <a href="/transactions/new">Add New</a>

  <table>
    <tr>
      <td>Amount</td>
      <td>Tag</td>
      <td>Merchant</td>
      <td>Timestamp</td>
    </tr>
    <% @transactions.each do |transaction| %>
    <tr>
      <td><a href="/transactions/<%=transaction.id%>"><%= transaction.amount%></a></td>
      <td><%= transaction.tag.name%></td>
      <td><%= transaction.merchant.name%></td>
      <td><%= transaction.time_stamp %></td>
    </tr>
    <% end %>
  </table>
