<h1>Transactions</h1>

<table>
  <tr>
    <td>£<%= @transaction.amount %></td>
    <td><%= @transaction.tag.name %></td>
    <td><%= @transaction.merchant.name %></td>
  </tr>
</table>

<a href="/transactions/<%=@transaction.id%>/edit">Edit</a>
<form class="" action="/transactions/<%= @transaction.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
